
.box {
    border-radius: 10px;
    height: 40px;
    width: 80px;
    margin: 50px auto;
}

.box-1 {
    background-color: aquamarine;




}

.box-2 {
    background-color: blueviolet;

        /* para usar la transicion necesito 2 valores
        1- transition-property
        2- transition-duration
    */

    /* 
    transition-property: all;
    transition-duration: 2s; 
        o
    */

    transition: all 2s;


}


/* pseudo clase :hover*/

.box:hover {

    /* Transformacion / agregar un numero entero sin unidades de medida para modificar el elemento*/

    transform: scale(4);

}


.circle1, .circle2, .circle3, .circle3, .circle4, .circle5 {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px;

}

.circle1 {
    background-color: burlywood;
    
    /*
    transition: all 3s;

    transition-timing-function: linear; 
    */

    transition: all 3s linear;
}

.circle2 {
    background-color: chartreuse;
    transition: all 3s ease;

}

.circle3 {
    background-color: darkblue;
    transition: all 3s ease-in;


}

.circle4 {
    background-color: darkred;
    transition: all 3s ease-in-out;

}

.circle5 {
    background-color: darkturquoise;
    transition: all 3s step-end;

}

.container-circle:hover > div {
    transform: translateX(400px);

    /* transition: all 3s; */

}

.combinado {
    background-color: violet;
    height: 75px;
    width: 75px;
    margin: 50px auto;


}

.combinado:hover {
    transform: rotate(90deg) scale(2) translateY(120px);
    transition: all 2s;

}

.animaciones {
    width: 120px;
    height: 120px;
    margin: 50px auto;
    background-color: yellow;

}


.animaciones:hover {
    /* animation-name: ;
    animation-duration: 4s; */

    animation: changeColor 4s;

}

@keyframes changeColor {
    0% {
        background-color: yellowgreen;
    }

    15% {
        border-radius: 50%;
    }

    25% {
        background-color: wheat;
        border: solid 3px;

    }

    50% {
        background-color: turquoise;
        border: 4px solid black;

    }

    100% {
        background-color: thistle;
    }
}


.coso {
    width: 120px;
    height: 120px;
    margin: 50px auto;
    background-color: blue;


}

.coso:hover {
    animation-duration: 2s ;

}

